<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
  <!-- Site Title-->
  <title>About Us</title>
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon" />
  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css"
    href="//fonts.googleapis.com/css?family=Oswald:200,400%7CLato:300,400,300italic,700%7CMontserrat:900" />
  <link rel="stylesheet" href="/src/assets/css/bootstrap.css" />
  <link rel="stylesheet" href="/src/assets/css/style.css" />
  <link rel="stylesheet" href="/src/assets/css/fonts.css" />
  <style>
    .gallery-item-image figure {
      margin: 0; /* Brauzerning default bo'sh joyini yo'q qilish */
    }
  
    .gallery-item-image img {
      width: 100%; /* Elementni konteyner kengligiga moslash */
      height: auto; /* Nisbatni buzmaslik */
      display: block; /* Brauzer bo‘sh joy qo‘ymasligi uchun */
      border-radius: 4%;
    }
  </style>
</head>

<body>
  <!-- Page preloader-->
  <div class="page">
    <header class="section page-header breadcrumbs-custom-wrap bg-gradient bg-secondary-2 novi-background bg-cover">
      <!-- RD Navbar-->
      <div class="rd-navbar-wrap rd-navbar-default">
        <app-navbar></app-navbar>
        <!-- <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
          data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth"
          data-xl-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed"
          data-xl-device-layout="rd-navbar-static" data-md-stick-up-offset="2px" data-lg-stick-up-offset="2px"
          data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true"
          data-xl-stick-up="true">
          <div class="rd-navbar-inner">
            <div class="rd-navbar-panel">
              <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                <span></span>
              </button>
              <div class="rd-navbar-brand">
                <a class="brand-name" href="/"><img class="logo-default"
                    src="../../../assets/images/logo-default-208x46.png" alt="" width="208" height="46" /><img
                    class="logo-inverse" src="../../../assets/images/logo-inverse-208x46.png" alt="" width="208"
                    height="46" /></a>
              </div>
            </div>
            <div class="rd-navbar-aside-right">
              <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav">
                  <li>
                    <div style="text-align: center; margin-top: 2px; margin-left: 230px; vertical-align: middle;">
                      <select (change)="changeLanguage($event)">
                        <option value="en" [selected]="translate.currentLang === 'en'">Eng</option>
                        <option value="ru" [selected]="translate.currentLang === 'ru'">Ру</option>
                        <option value="uz" [selected]="translate.currentLang === 'uz'">O'z</option>
                      </select>
                    </div>
                  </li>
                  <li class="active">
                    <a href="/" style="cursor: pointer !important">{{'baseHome' | translate}}</a>
                  </li>
                  <li><a href="about">{{'baseAbout' | translate}}</a></li>
                  <li><a href="contacts">{{'baseContacts' | translate}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav> -->
      </div>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom" style="
            background: url('../../../assets/images/aboutus1.jpg');
            background-size: cover;
          ">
        <div class="container">
          <p class="breadcrumbs-custom-subtitle">{{'about.whoWe' | translate}}</p>
          <p class="heading-1 breadcrumbs-custom-title">{{'baseAbout' | translate}}</p>
          <ul class="breadcrumbs-custom-path">
            <li><a href="../home/home.component.html">{{'baseHome' | translate}}</a></li>
            <li class="active">{{'baseAbout' | translate}}</li>
          </ul>
        </div>
      </section>
    </header>
    <!-- hi, we are brave-->
    <section class="section section-lg bg-default">
      <div class="container container-bigger">
        <div
          class="row row-50 justify-content-md-center align-items-lg-center justify-content-xl-between flex-lg-row-reverse">
          <div class="col-md-10 col-lg-6 col-xl-5">
            <h3>{{'about.head' | translate}}</h3>
            <div class="divider divider-decorate"></div>
            <p class="heading-5">
              {{'about.we1' | translate}}
            </p>
            <p class="text-spacing-sm">
              {{'about.we2' | translate}}
            </p>
            <a class="button button-default-outline button-nina" href="#">{{'learnMore' | translate}}</a>
          </div>
          <div class="col-md-10 col-lg-6">
            <img src="../../../assets/images/_waterfall.jpg" alt="" width="720" height="459" />
          </div>
        </div>
      </div>
    </section>

    <!-- Small Features-->
    <section class="section section-lg section-lg-alternative bg-gray-lighter novi-background bg-cover">
      <div class="container container-wide">
        <div class="row row-50 justify-content-sm-center text-gray-light">
          <div class="col-sm-10 col-md-6 col-xl-3">
            <article class="box-minimal">
              <div class="box-minimal-header">
                <div class="box-minimal-icon box-minimal-icon-lg novi-icon mdi mdi mdi-airplane"></div>
                <h6 class="box-minimal-title">{{ "home.airTickets" | translate }}</h6>
              </div>
              <p>
                {{ "home.ticketInfo" | translate }}
              </p>
            </article>
          </div>
          <div class="col-sm-10 col-md-6 col-xl-3">
            <article class="box-minimal">
              <div class="box-minimal-header">
                <div class="box-minimal-icon box-minimal-icon-lg novi-icon mdi mdi-map"></div>
                <h6 class="box-minimal-title">{{ "home.voyages" | translate }}</h6>
              </div>
              <p>
                {{ "home.voyageInfo" | translate }}
              </p>
            </article>
          </div>
          <div class="col-sm-10 col-md-6 col-xl-3">
            <article class="box-minimal">
              <div class="box-minimal-header">
                <div class="box-minimal-icon box-minimal-icon-lg novi-icon mdi mdi-city"></div>
                <h6 class="box-minimal-title">{{ "home.hotelBooking" | translate }}</h6>
              </div>
              <p>
                {{ "home.bookingInfo" | translate }}
              </p>
            </article>
          </div>
          <div class="col-sm-10 col-md-6 col-xl-3">
            <article class="box-minimal">
              <div class="box-minimal-header">
                <div class="box-minimal-icon box-minimal-icon-lg novi-icon mdi mdi-beach"></div>
                <h6 class="box-minimal-title">{{ "home.summerTours" | translate }}</h6>
              </div>
              <p>{{ "home.summerTourInfo" | translate }}</p>
            </article>
          </div>
        </div>
      </div>
    </section>

    <!-- Projects-->
    <section class="section section-lg bg-gray-lighter text-center novi-background bg-cover">
      <div class="container container-wide">
        <div class="row row-fix row-50 justify-content-md-center">
          <div class="col-sm-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
            <h3>{{ "about.destinations" | translate }}</h3>
            <div class="divider divider-decorate"></div>
            <p>{{ "about.destInfo" | translate }}</p>
          </div>
        </div>
        <div class="row row-50" data-lightgallery="group">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <a class="gallery-item titled-gallery-item" href="../../../assets/images/project-1-1200x800-original.jpg"
              data-lightgallery="item">
              <div class="gallery-item-image">
                <figure>
                  <img src="../../../assets/images/_bora bora2.jpg" alt="" width="570" height="380" />
                </figure>
                <div class="caption"></div>
              </div>
            </a>
            <div class="titled-gallery-caption">
              <a href="#">Bora Bora</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <a class="gallery-item titled-gallery-item" href="../../../assets/images/project-2-1200x800-original.jpg"
              data-lightgallery="item">
              <div class="gallery-item-image">
                <figure>
                  <img src="../../../assets/images/_egypt2.jpg" alt="" width="570" height="380" />
                </figure>
                <div class="caption"></div>
              </div>
            </a>
            <div class="titled-gallery-caption"><a href="#">Egypt</a></div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <a class="gallery-item titled-gallery-item" href="../../../assets/images/project-3-1200x800-original.jpg"
              data-lightgallery="item">
              <div class="gallery-item-image">
                <figure>
                  <img src="../../../assets/images/_tailand12.jpg" alt="" width="570" height="380" />
                </figure>
                <div class="caption"></div>
              </div>
            </a>
            <div class="titled-gallery-caption"><a href="#">Thailand</a></div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <a class="gallery-item titled-gallery-item" href="../../../assets/images/project-4-1200x800-original.jpg"
              data-lightgallery="item">
              <div class="gallery-item-image">
                <figure>
                  <img src="../../../assets/images/_dominican2.jpg" alt="" width="570" height="380" />
                </figure>
                <div class="caption"></div>
              </div>
            </a>
            <div class="titled-gallery-caption">
              <a href="#">Dominicana</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <a class="gallery-item titled-gallery-item" href="../../../assets/images/project-5-1200x800-original.jpg"
              data-lightgallery="item">
              <div class="gallery-item-image">
                <figure>
                  <img src="../../../assets/images/_jamaica2.jpg" alt="" width="570" height="380" />
                </figure>
                <div class="caption"></div>
              </div>
            </a>
            <div class="titled-gallery-caption"><a href="#">Jamaica</a></div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <a class="gallery-item titled-gallery-item" href="../../../assets/images/project-6-1200x800-original.jpg"
              data-lightgallery="item">
              <div class="gallery-item-image">
                <figure>
                  <img src="../../../assets/images/_huntington beach2.jpg" alt="" width="570" height="380" />
                </figure>
                <div class="caption"></div>
              </div>
            </a>
            <div class="titled-gallery-caption">
              <a href="#">Huntington Beach</a>
            </div>
          </div>
          <div class="col-12">
            <a class="button button-secondary button-nina" href="#">{{ "viewAllDest" | translate }}</a>
          </div>
        </div>
      </div>
    </section>

    <!-- CTA Gradient-->
    <section class="section section-xs text-center bg-gray-700 novi-background bg-cover">
      <div class="container container-wide">
        <div class="box-cta-thin">
          <p class="big">
            <strong>{{ "about.prices" | translate }} </strong>&nbsp;<span>{{ "about.favDestination" | translate }} </span>&nbsp;<a
              class="link-bold" href="#">{{ "about.order" | translate }}</a>
          </p>
        </div>
      </div>
    </section>
    <!-- Footer Minimal-->
    <footer class="section page-footer page-footer-minimal novi-background bg-cover text-center bg-gray-darker">
      <div class="container container-wide">
        <div class="row row-fix justify-content-sm-center align-items-md-center row-30">
          <div class="col-md-10 col-lg-7 col-xl-4 text-xl-left">
            <!-- <a href="index.html"><img class="inverse-logo" src="../../../assets/images/logo-inverse-208x46.png" alt=""
                width="208" height="46" /></a> -->
          </div>
          <div class="col-md-10 col-lg-7 col-xl-4">
            <p class="right" >
              &#169;&nbsp;<span class="copyright-year"></span>{{ "allRights" | translate }}
            </p>
          </div>
          <div class="col-md-10 col-lg-7 col-xl-4 text-xl-right">
            <ul class="group-xs group-middle">
              <li>
                <a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-instagram"
                  href="#"></a>
              </li>
              <li>
                <a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-telegram"
                  href="#"></a>
              </li>  
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- Global Mailform Output-->
  <div class="snackbars" id="form-output-global"></div>
  <!-- Javascript-->
  <script src="../../../assets/js/core.min.js"></script>
  <script src="../../../assets/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>